@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Titillium+Web';
@font-face{
	font-family: sans-serif;
}
body{
 	background-color: #dddddd;
 	font-family: Arial, sans-serif;
	color: rgba(0,0,0,1);
} 
header{
 	background: #373737;
 	text-align: center;
 	height: 35px; 
 	color: white;
 	font-size: 25pt;
} 
header nav {
 	 font-size: 15pt;
} 
/*---------------------------------------------------------- Formatação do menu*/
nav#menu {
	display: block;
	border-bottom: 1px solid black;
}
nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: 30px;
	left: -34px;
}
nav#menu li {
	display: inline-block;
	background-color: #595959;
	padding: 5px;
	margin: 2px;
	transition: background-color 0.4s;
}
nav#menu h1{
	display: none;
}
nav#menu li:hover{
	background-color: #8080ff;
}
nav#menu a {
	color: #ffffff;
	text-decoration: none;
}
nav#menu a:hover{
	color: #ffffff;
	text-decoration: underline;
}
/*-------------------------------------------------------- Formatação do LOGO*/
section div {
	heigth: 500px;
	width: 500px;
	margin: 80px auto;
}
/*---------------------------------------------------------- Formatação do botao*/
form button{
	position: relative;
	top: 20px;
}
form button:hover{
	background: red;
}
/*--------------------------------------------------------- Formatação do rodapé*/
footer#rodape{
	clear: both;
	border-top: 1px solid #606060;
}

footer#rodape p {
	text-align: center;
}


















