body{
	background: hsl(0, 50%, 90%);
	color: hsl(0, 0%, 0%);
}

h1{
	color: red;
	font-size: 32pt;
	font-family: sans-serif;
	text-align: center

}
span{
	font-style: italic;
	font-family: sans-serif;
	color: hsl(0, 80%, 50%);
}

h2{
	color: red;
	font-size: 28pt;
	text-align: center;
}
span1{
	font-style: italic;
	font-family: sans-serif;
	color: blue;
}